.hero {
    padding-top:    2rem;
    text-align: center;
    background: rgb(228, 226, 226);
    padding-bottom: 2rem;
    width: 100%;
  }
  
  .hero .h1 {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  .hero .h3 {
    margin-bottom: 2rem;
  }
  
 
  .hero .btn-group {
    justify-content: start;
    gap: 30px;
  }
  
  .hero { text-align: left; }
  
  .btn-primary {
    background: rgba(0, 0, 0, 0.851);
    color: white;
    padding: 0.4rem 1.5rem;
  }
  